.box {
  float: left;
  height: 15px;
  width: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
  margin-left: 20px;
}

.nonveg {
  background-color: red;
}

.veg {
  background-color: green;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}