<div class="mt-4" style="text-align: center">
  <h2>Our Story</h2>
</div>

<div class="mt-3 mx-5">
  <p class="text-justify">
    We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our
    Facebook fan page Fans were given situations where they had to come up with
    wacky and fun excuses. The person with the best excuse won the Best Excuse
    Badge and won Pizzena's vouchers. The enthusiastic response proved that
    Pizzena's Fresh Pan Pizza is the Tastiest Pan Pizza Evert
  </p>

  <p class="text-justify">
    Ever since we launched the Tastiest Pan Pizza, ever, people have not been
    able to resist the softest cheesiest, crunchiest, butterest Domino's Fresh
    Pan Pizza. They have been leaving the stage in the middle of a performance
    and even finding excuses to be disqualified in a football match
  </p>
  <p class="text-justify">
    We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page.
    Fans were given situations where they had to come up with wacky and fun
    excuses. The person with the best excuse won the Best Excuse Badge and won
    Domino's vouchers. Their enthusiastic response proved that Pizzena's Fresh
    Pan Pizza is the Tastiest Pan Pizza Evert
  </p>
</div>

<div class="mx-3 mt-5">
  <div class="card">
    <div class="card-body row mb-2">
      <div class="col-md-5">
        <img src="../../assets/images/Ingredients.png" width="400" />
      </div>
      <div class="col-md-7">
        <h4>Ingredients</h4>
        <p>
          We're ruthless about goodness. We have no qualms about tearing up a
          day-old lettuce leaf (straight from the farm), or steaming a baby
          (carrot), Cut Cut Chop Chop Steam Steam St St. While they're still
          young and fresh that's our motto it makes the kitchen a better place.
        </p>
      </div>
    </div>

    <div class="card-body row mb-2">
      <div class="col-md-7">
        <h4>Our Chefs</h4>
        <p>
          They make sauces sing and salads dance. They create magic with skill,
          knowledge, passion, and stirring spoons (among other things). They
          make goodness so good, it doesn't know what to do with itself. We do
          though. We send it to you
        </p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/images/cheff.png" width="400" />
      </div>
    </div>

    <div class="card-body row mb-2">
      <div class="col-md-5">
        <img src="../../assets/images/clock.png" width="400" />
      </div>
      <div class="col-md-7">
        <h4 class="mt-5">45 mins delivery assured!</h4>
      </div>
    </div>
  </div>
</div>
