<br>
<div class="container justify-content-center align-items-center border border-danger  bg-info text-dar p-1 rounded">
    <div class="text-center  container justify-content-center">
         <h1>404 </h1>
         </div>
         <br><br>
         <div class="text-center  container justify-content-center">
            <h2>Page Not Found !! </h2>
            </div>
            <br>
            <div class="text-center  container justify-content-center">
               
                <button type="button" class="btn btn-warning"> <a routerLink="/home" class="text-center text-decoration-none text-dark " style="color:dodgerblue"> Home Page</a></button>
              </div>
</div>
